@import "fonts/_fonts.scss";

@media (min-width: 1200px) {
  .container {
    max-width: 1285px;
  }
}

@mixin media-breakpoint-down($size) {
  @if $size == sm {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $size == md {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $size == lg {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $size == xl {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $size == xxl {
    @media (max-width: 1399px) {
      @content;
    }
  }
}

@mixin media-breakpoint-up($size) {
  @if $size == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}

html {
  scroll-behavior: smooth;

  &.js-menu-showing {
    overflow: hidden;
    height: 100%;
  }
}

html, body {
  overflow-x: hidden;
}

.vc_column-inner {
  padding-top: 0 !important;
}

body {
  font-family: var(--base-font-name), sans-serif;;
  background-color: var(--main-bg-color);
  position: relative;
  color: var(--main-bg-text-color);

  &.js-menu-showing {

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 11;
      background-color: var(--secondary-color);
      top: 0;
      left: 0;
    }
  }
}

.video_player_img {
  display: inline-block;
  position: relative;

  &::after {
    content: url("../static/img/play-icon.svg");
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 72px;
    height: 72px;
  }
}

.mw-800 {
  max-width: 800px;
}

.mw-700 {
  max-width: 700px;
}

.svg-styled-list {
  padding: 0;
  list-style-type: none;
  font-family: var(--secondary-font-name);

  li {
    margin-bottom: 10px;
    text-decoration: none !important;

    &:last-child {
      margin-bottom: 0;
    }

    svg {
      color: var(--secondary-color);
      margin-right: 5px;
    }
  }
}

.largeform .iti, .fullwidth_form .iti, .enrolform .iti {
  width: 100%;
}

@import 'components/_buttons.scss';
@import 'components/_primary-menu.scss';
@import 'components/_largeform.scss';
@import 'components/_welcome.scss';
@import 'components/_approach.scss';
@import 'components/_header.scss';
@import 'components/_top-message.scss';
@import 'components/_environments.scss';
@import 'components/_footer.scss';
@import 'components/_hero2.scss';
@import 'components/_large_img_section.scss';
@import 'components/_fullgallery.scss';
@import 'components/_infotab.scss';
@import 'components/_fullwidth_form.scss';
@import 'components/_events.scss';
@import 'components/_half_info_block.scss';
@import 'components/_ages.scss';
@import 'components/_tabs.scss';
@import 'components/_infosection.scss';
@import 'components/_locations.scss';
@import 'components/_locationtab.scss';
@import 'components/_small_info.scss';
@import 'components/_short_banner.scss';
@import 'components/_ages_module.scss';
@import 'components/_image_holder.scss';
@import 'components/_text_section_v2.scss';
@import 'components/_list_section.scss';
@import 'components/_location_list.scss';
@import 'components/_blog.scss';
@import 'components/_blog_single.scss';
@import 'components/_thankyou.scss';
@import 'components/_contact_us_items';
@import 'components/_video_section';
@import 'components/_whatsapp_badger';
@import 'components/_upsell_popup';

