<section class="collapse show" id="collapseAge1" data-parent="#ages">
    <div class="container">
        <section class="infosection">
            <div class="infosection__body">
                <h6 class="infosection__title">
                    first experiences<br>
                    That shape their future
                </h6>
                <div class="infosection__text">
                    <p>
                        The importance of a child’s first experiences outside home can’t be overestimated. This is
                        when babies form their first impression of the world that shapes them for life.
                    </p>
                    <p>
                        Our early learning practitioners provide the best care and encouragement for your baby. You
                        can go about your day reassured that your child is being cared for in the same way you would
                        care for them at home.
                    </p>
                </div>

                <div class="d-flex flex-wrap mt-5">
                    <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">Register Today</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">View Virtual
                        tour</a>
                </div>
            </div>
            <div class="infosection__image">
                <img src="{{ img_url }}/Baby-img.jpg" class="img-fluid">
            </div>
        </section>
    </div>

{#    <section class="infotabs pt-5">
        <div class="container">
            <button class="infotab " type="button" data-toggle="collapse" data-target="#collapse__child--roms"
                    aria-expanded="true" aria-controls="collapse__child--roms">
        <span class="infotab__title">Learn about your childs rooms
        </span>
            </button>
            {% include 'partial/ages-tabs/babies-tabs/child-rooms.twig' %}






        </div>
    </section>#}
</section>