<section class="collapse" id="collapseAge4" data-parent="#ages">
    <div class="container">
        <section class="infosection">
            <div class="infosection__body">
                <h6 class="infosection__title">
                    Getting ready for School
                </h6>
                <div class="infosection__text">
                    <p>
                        Our highly-qualified and experienced teachers help make the transition from nursery to school as
                        natural as possible. By following the Washington State Early Learning Developmental Benchmarks,
                        we encourage the social, cognitive, physical, emotional and spiritual development of each child.
                    </p>
                    <p>
                        Children are encouraged to learn at their own pace, which builds independence and, most
                        importantly, a lifelong love for learning and knowledge.
                    </p>
                </div>


                <div class="d-flex flex-wrap mt-5">
                    <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">Register Today</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">View Virtual
                        tour</a>
                </div>
            </div>
            <div class="infosection__image">
                <img src="{{ img_url }}/foundation-tab.jpg">
            </div>
        </section>
    </div>
{#    <section class="infotabs pt-5">
        <div class="container">
            <button class="infotab " type="button" data-toggle="collapse" data-target="#collapse__child--roms-foundation"
                    aria-expanded="true" aria-controls="collapse__child--roms-foundation">
        <span class="infotab__title">Learn about your childs rooms
        </span>
            </button>
            {% include 'partial/ages-tabs/foundation-tabs/child-rooms.twig' %}


        </div>
    </section>#}
</section>