<section class="collapse" id="collapseAge5" data-parent="#ages">
    <div class="container">
        <section class="infosection">
            <div class="infosection__body">
                <h6 class="infosection__title">
                    A Smooth Entry to School
                </h6>
                <div class="infosection__text">
                    <p>
                        To ensure a better and more calm transition from nursery to school, we encourage parents to
                        allow their children to stay in their familiar nursery environment while they start their first
                        year of school.
                    </p>
                    <p>
                        Your child will receive personalised attention in small class sizes, ensuring their steady
                        progress. There is also a French immersion programme available at the Umm Suqeim Odyssey branch,
                        where classes will align with the French curriculum.
                    </p>
                    <p>This age group is applicable to Dubai branches only</p>
                </div>



                <div class="d-flex flex-wrap mt-5">
                    <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">Register Today</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">View Virtual
                        tour</a>
                </div>
            </div>
            <div class="infosection__image">
                <img src="{{ img_url }}/Foundation_2.jpg">
            </div>
        </section>
    </div>
{#    <section class="infotabs pt-5">
        <div class="container">
            <button class="infotab " type="button" data-toggle="collapse" data-target="#collapse__child--roms-foundation2"
                    aria-expanded="true" aria-controls="collapse__child--roms-foundation2">
        <span class="infotab__title">Learn about your childs rooms
        </span>
            </button>
            {% include 'partial/ages-tabs/foundation2-tabs/child-rooms.twig' %}


        </div>
    </section>#}
</section>