<section class="collapse" id="collapseAge3" data-parent="#ages">
    <div class="container">
        <section class="infosection">
            <div class="infosection__body">
                <h6 class="infosection__title">
                    Building independence & confidence
                </h6>
                <div class="infosection__text">
                    <p>
                        Age 2-3 is when children start to explore on their own and build self-reliance. At this stage,
                        cultivating self-esteem is a vital ingredient in their development.
                    </p>
                    <p>
                        Our approach supports and nurtures independence by giving children the freedom to try out their
                        own ideas & find their unique abilities.
                    </p>
                    <p>
                        Through independent investigation and child-directed activities, our children develop skills and
                        knowledge in areas such as early literacy, mathematics, science, languages, communication, and
                        social skills.
                    </p>
                </div>



                <div class="d-flex flex-wrap mt-5">
                    <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">Register Today</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">View Virtual
                        tour</a>
                </div>
            </div>
            <div class="infosection__image">
                <img src="{{ img_url }}/preschool-tab.jpg">
            </div>
        </section>
    </div>
{#    <section class="infotabs pt-5">
        <div class="container">
            <button class="infotab " type="button" data-toggle="collapse" data-target="#collapse__child--roms-preschool"
                    aria-expanded="true" aria-controls="collapse__child--roms-preschool">
        <span class="infotab__title">Learn about your childs rooms
        </span>
            </button>
            {% include 'partial/ages-tabs/preschool-tabs/child-rooms.twig' %}



        </div>
    </section>#}
</section>