<section class="collapse" id="collapseAge2" data-parent="#ages">
    <div class="container">
        <section class="infosection">
            <div class="infosection__body">
                <h6 class="infosection__title">
                    Development through <br>Discovery and sensory play
                </h6>
                <div class="infosection__text">
                    <p>
                        Toddlers learn best through hands-on experiences. Our monthly themed activities target each
                        developmental domain, providing them with the confidence they need to grow both cognitively and
                        socially.
                    </p>
                    <p>
                        Our treasure sensory baskets help children refine their tactile senses and coordination. Infants
                        have the freedom to explore different everyday items like bubble wrap, aluminum foil, newspaper,
                        sponges, soft and hard wooden items. This is crucial for maximising brain connections and
                        overall development.
                    </p>
                </div>

                <div class="d-flex flex-wrap mt-5">
                    <a href="#form" class="button mr-0 mr-md-2 mt-2 mt-md-0">Register Today</a>
                    <a href="{{ virtual_tours_url }}" class="button button--secondary mt-2 mt-md-0">View Virtual
                        tour</a>
                </div>
            </div>
            <div class="infosection__image">
                <img src="{{ img_url }}/Toddler.jpg">
            </div>
        </section>
    </div>
{#    <section class="infotabs pt-5">
        <div class="container">
            <button class="infotab " type="button" data-toggle="collapse" data-target="#collapse__child--roms-toddlers"
                    aria-expanded="true" aria-controls="collapse__child--roms-toddlers">
        <span class="infotab__title">Learn about your childs rooms
        </span>
            </button>
            {% include 'partial/ages-tabs/toddlers-tabs/child-rooms.twig' %}



        </div>
    </section>#}
</section>