.ages {
  padding: 106px 0 71px 0;

  &__title, &__subtitle {
    text-align: center;
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }

  // &__icon {}

  &__title {
    display: block;
    font-size: 48px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
  }
}