.contact_us_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__icon {
    color: var(--secondary-color);
    height: 66px;
    margin-bottom: 16.7px;

    svg {
      height: 100%;
    }
  }

  // &__value {}

  &__link {
    max-width: 375px;
    display: block;
    margin: 0 20px;
    font-size: 20px;
    flex: 1;
    text-align: center;
    color: black;

    &:hover {
      color: black;
    }

    @include media-breakpoint-down(md) {
      flex: 100%;
      max-width: none;
      margin-bottom: 50px;
    }
  }

  &__title {
    font-weight: 500;
  }
}

.contact_us_form {
  .button {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #FFF;
  }
}
