.footer {
  padding: 52px 0 58px 0;
  color: var(--footer-label-color);
  background-color: var(--footer-color);

  &__bottom-nav {
    margin-top: 70px;
    margin-bottom: 30;

    nav, ul {
      padding: 0;
      list-style-type: none;

      li {
        margin-right: 30px;

        &.footer__li--instagram {
          background: #FFF;
        }

        @include media-breakpoint-down(md) {
          width: 100%;
          margin: 0;
          text-align: center;
          margin-bottom: 15px;
        }

        &:last-child {
          margin-right: 0;
          width: auto;
        }

        a {
          font-size: 14px;
          text-transform: uppercase;
          color: var(--footer-label-color);
        }
      }
    }
  }

  // &__socials {
  //   display: flex;
  //   justify-content: center;
  //   margin-bottom: 53px;

  //   > a {
  //     display: block;
  //   }
  // }

  &__logos {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    flex-wrap: wrap;

    > a {
      @include media-breakpoint-down(md) {
        margin-right: 0 !important;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
      }
    }

    // img.main-logo {
    //   filter: brightness(0) invert(1);
    // }
  }

  &__copy {
    font-size: 14px;
    text-align: center;
    display: block;
  }
}

.footer-bottom {
  background: #2d2c28;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;

  span {
    color: white;
    padding-right: 10px;
    font-size: 13px;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
      padding-bottom: 10px;
      flex: 100%;
    }
  }
}

.footer-whatsapp {
  width: 100%;
  height: auto;
}
