.fullgallery {
  padding: 100px 0;

  @include media-breakpoint-down(md) {
    padding: 50px 0;
  }

  &__heading {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    font-family: var(--secondary-font-name);
    margin-bottom: 24px;

    @include media-breakpoint-down(md) {
      font-size: 35px;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 40px;
  }

  &__imgs {
    display: flex;
    flex-wrap: wrap;

    a {
      display: block;
      flex: 1 0 21%;
      position: relative;

      &:hover {

        &:after {
          content: 'View Gallery →';
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: #464646bd;
          top: 0;
          left: 0;
          font-size: 14px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
        }
      }

      @include media-breakpoint-down(md) {
        flex: 1 0 41%;
      }

      img {
        object-fit: cover;
        height: 300px;
        width: 100%;

        @include media-breakpoint-down(md) {
          height: 250px;
        }
      }
    }
  }
}