.fullwidth_form {
  padding: 80px 0;
  background-color: var(--secondary-color);
  background-image: url('../static/img/PXLE4560_1.jpg');
  background-size: cover;
  background-position: center;

  &__content {
    color: var(--primary-label-color);
  }

  .wpcf7-list-item {
    margin: 0;
  }

  label {
    margin-top: 10px;
  }

  .largeform__footer-text {
    font-size: 13px;
    text-align: center;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF;
    margin: 0 15px 0 0;
    font: inherit;
    color: var(--secondary-color);
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    float: left;

    &:hover {
      border: 1px solid var(--secondary-color);
    }
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--secondary-color);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

  input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }

  &__top_msg {
    padding: 13px 0;
    background-color: var(--primary-color);
    font-family: var(--secondary-font-name);
    color: var(--primary-label-color);
    // margin: 0 -15px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
  }

  &__wrap {
    max-width: 575px;
    margin: 0 auto;
    padding: 50px 44px;

    @include media-breakpoint-down(md) {
      padding: 50px 20px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 26px;
    font-family: var(--secondary-font-name);

    @include media-breakpoint-down(md) {
      font-size: 35px;
    }
  }

  &__text {
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 500;
  }

  .largeform__row {
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      margin: 0 15px;
    }

    > span {
      margin-bottom: 15px;
      width: 100%;
    }

    .largeform__input {
      border: 0;
      width: 100%;
      border: 1px solid #FFF;

      &:hover {
        border: 1px solid var(--secondary-color);

        &::placeholder {
          color: #000;

        }
      }
    }

    select.largeform__input {
      height: 50px;
      width: 100%;
    }

    textarea.largeform__input {
      height: 100px;
    }
  }

  .largeform__cta {
    margin-top: 24px;
  }
}