.half_info_block {
  background-color: var(--primary-menu-color);
  padding: 200px 0 190px 0;
  position: relative;

  @include media-breakpoint-down(md) {
    padding-top: 100px;
    padding-bottom: 0;
  }

  &__body {
    color: white;
    width: 42%;
    margin-left: auto;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    .half_info_block--reverse & {
      margin-left: 0;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-down(md) {
      width: 100%;
      position: relative;
      height: 400px;
      margin-top: 50px;
    }

    .half_info_block--reverse & {
      left: auto;
      right: 0;
    }
  }

  &__title {
    font-size: 36px;
    margin-bottom: 55px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 45px;

    small {
      font-size: 16px;
    }
  }

  // &__author {
  //   font-size: 16px;

  //   strong {
  //     font-weight: 100;
  //   }
  // }
}