.header {
  background-color: var(--primary-menu-color);
  color: var(--primary-menu-label-color);

  @include media-breakpoint-down(lg) {
    position: relative;
    z-index: 999;
  }

  @include media-breakpoint-down(md) {
    padding: 0 14px;
    background-color: var(--secondary-color);
  }

  body.js-menu-showing & {
    @include media-breakpoint-down(md) {
      background-color: white;
      height: 100vh;
    }
  }

  &--transparent {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: transparent;

    @include media-breakpoint-down(md) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;
      // background-color: white;
    }
  }

  body.scrolled-down & {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    @include media-breakpoint-up(md) {
      background-color: var(--primary-menu-color);
    }

    @include media-breakpoint-down(md) {
      background-color: var(--secondary-color);
    }
  }

  body.js-menu-showing & {
    background-color: var(--primary-menu-color);
    z-index: 12;

    @include media-breakpoint-down(md) {
      overflow-y: scroll;
    }
  }
}