.hero2 {
  color: black;

  &__top_title {
    color: var(--secondary-color);
    margin-bottom: 12px;
    font-size: 20px;
    font-family: var(--secondary-font-name);
  }

  &__img {
    @include media-breakpoint-down(md) {
      margin: 0 -15px;
    }

    img {
      @include media-breakpoint-down(md) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  &__left {
    padding-top: 150px;
    padding-bottom: 150px;

    @include media-breakpoint-down(md) {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 25px;

    @include media-breakpoint-down(md) {
      font-size: 35px;
    }
  }

  &__description {
    font-size: 16px;
    margin-bottom: 42px;
  }

  &__tick-items {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 42px;

    li {
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      margin-bottom: 11px;
      font-family: var(--secondary-font-name);

      svg {
        color: var(--secondary-color);
      }
    }
  }
}
