.image_holder {

  &__items {
    margin-top: 32px;
    display: flex;
    justify-content: center;
  }

  &__item {
    padding: 5px 0;

    &::after {
      content: "";
      display: block;
      width: 48px;
      height: 4px;
      background-color: #CFB0A0;
      margin: 0 7px;
    }

    &.active::after {
      background-color: #357D34;
    }
  }
}