.infotabs {
  padding: 40px 0;

  &__title {
    margin-bottom: 25px;
    font-size: 48px;
    font-family: var(--secondary-font-name);

    @include media-breakpoint-down(md) {
      font-size: 35px;
    }
  }

  &__text {
    margin-bottom: 35px;
    // font-weight: 500;
    font-size: 16px;
  }

  &__heading {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }
}

.infotab {
  padding: 35px 70px 35px 40px;
  // border: 1px solid #a54e91;
  text-align: left;
  outline: none !important;
  width: 100%;
  // margin-bottom: 17px;
  background-color: var(--secondary-color);
  color: var(--secondary-label-color);
  margin-top: 15px;
  border: 0;

  &.collapsed {
    .infotab__title {
      &:after {
        content: url('../static/img/up-arrow.svg');
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 20px 40px;
  }

  &:not(.collapsed) {

    .infotab__title {
      .down-icon {
        top: -10px;
        transform: rotate(180deg);

        @include media-breakpoint-down(md) {
          right: -30px;
        }
      }
    }
  }

  // &__flash {
  //   font-size: 16px;
  //   padding: 8px 12px;
  //   background-color: #d0fb96;
  //   margin-left: auto;
  //   margin-right: 40px;

  //   @include media-breakpoint-down(md){
  //     display: none;
  //   }
  // }

  &__title {
    font-size: 20px;
    font-family: var(--base-font-name);
    font-weight: 500;
    position: relative;
    align-items: center;
    display: flex;
    text-transform: capitalize;

    &:after {
      content: "Close \00a0\00a0 " url('../static/img/up-arrow.svg');
      position: absolute;
      top: 5px;
      font-size: 16px;
      font-weight: 500;
      right: -50px;

      @include media-breakpoint-down(md) {
        right: -20px;
      }
    }
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    border: 1px solid var(--secondary-color);
    border-top: none;
    // display: flex;
    // flex-wrap: wrap;

    @include media-breakpoint-down(md) {
      padding: 30px;
    }

    ul {
      margin-top: 10px;
    }
  }

  &__hr {
    width: 100%;
    margin: 40px 0 50px 0;
    background-color: var(--secondary-color);
    height: 1px;
  }

  &__subtitle {
    font-size: 22px;
    margin-bottom: 32px;
  }

  &__subtitle-2 {
    font-size: 16px;
    margin-top: -32px;
    margin-bottom: 28px;
  }

  &__text {
    font-size: 16px;

    p {
      margin-bottom: 26px;
    }

    a {
      color: var(--secondary-color);
    }

    strong, b {
    }
  }

  &__left {
    width: 55%;
    margin-right: 5%;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__right {
    width: 40%;

    img {
      max-width: 100%;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
    }

  }

}


.smallgallery__featured {
  width: 100%;
  height: 302px;
  margin-bottom: 25px;
  display: block
}

.smallgallery__featured img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.smallgallery__images {
  display: flex;
  justify-content: space-between
}

.smallgallery__image {
  width: 135px;
  height: 90px;
  display: block
}

@media (max-width: 991.98px) {
  .smallgallery__image {
    margin-right: 5px
  }

  .smallgallery__image:last-child {
    margin-right: 0
  }
}

.smallgallery__image img {
  width: 100%;
  height: 100%;
  object-fit: cover
}