.largeform {
  margin: 20px 0;
  background-color: white;
  padding: 25px 54px 45px 48px;

  @include media-breakpoint-down(md) {
    padding: 50px 20px;
  }

  &__top_msg {
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: var(--secondary-color);
  }

  &__title {
    font-size: 26px;
    margin-bottom: 15px;
    display: block;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 25px;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      margin-bottom: 0;

      > * {
        width: 100%;
        margin-right: 0;
      }
    }

    // &:last-child { margin-bottom: 0; }
  }

  &__input {
    border: 1px solid #D9D9D9;
    width: 380px;
    margin-right: 22px;
    padding: 13px 20px;
    font-size: 16px;

    @include media-breakpoint-down(md) {
     margin-right: 0;
     margin-bottom: 20px;
     width: 100%;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  select.largeform__input {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background-image: url('../static/img/down-arrow.svg');
    background-size: 39px 25px;
    background-repeat: no-repeat;
    background-position: 95%;
  }

  &__cta { margin-top: 5px; }
}