// $padding_between_left_items: 15.5px;

.primary-menu {
  display: flex;
  align-items: center;
  position: relative;

  @include media-breakpoint-down(lg) {
    flex-wrap: wrap;
    justify-content: space-between;
    // background-color: var(--primary-menu-color);
  }

  &__toggle {
    display: none;
    width: 45px;
    height: 30px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    margin: auto 0;
    z-index: 15;

    &::before {
      content: 'MENU';
      position: absolute;
      left: -65px;
      top: 2px;
      color: white;
      font-weight: 200;
    }

    @include media-breakpoint-down(lg) {
      display: block;
    }

    header.header--transparent & {
      display: block;
    }

    body.scrolled-down & {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }

    body.js-menu-showing & {
      &::before {
        color: var(--secondary-color);
        content: 'CLOSE';
      }
    }

    span {
      width: 100%;
      height: 3px;
      background-color: var(--primary-color);
      display: block;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;;
      }

      body.js-menu-showing & {
        margin: 0;
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 40px;
        background-color: var(--secondary-color);

        &::before {
          color: var(--secondary-color);
        }

        &:first-child {
          transform: rotate(40deg);
        }

        &:nth-child(2) {
          transform: rotate(140deg);
        }

        &:last-child {
          display: none;
        }
      }
    }
  }

  &__mobilecta {

    &.button {
      display: none;
      color: var(--button-1-text-color);

      @include media-breakpoint-down(lg) {
        display: block;
        min-width: auto;
      }

      @include media-breakpoint-down(sm) {
        padding: 10px 13px;
      }
    }

  }

  &__brand {
    // max-width: 135px;
    display: block;
    padding: 13px 2px;
    margin-right: 74px;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      max-width: 100px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      max-width: 80px;
    }


    img {
      width: 100%;
      height: auto;
    }
  }

  &__brand--scrolled {
    display: none;
  }

  &__items {
    display: none;
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
    align-items: stretch;
    justify-content: right;
    flex-wrap: wrap;

    body.js-menu-showing & {
      padding: 0 15px;
    }

    @include media-breakpoint-down(lg) {
      background-color: white;
      padding: 20px;
      display: none;
      // margin-bottom: 15px;
      margin-top: 15px;
    }

    body.scrolled-down & {
      background-color: var(--primary-menu-color);


      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

    .header:not(.header--transparent) & {
      display: flex;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      body.js-menu-showing & {
        display: flex;
      }
    }

    body.js-menu-showing & {
      display: flex;
    }

    body.js-menu-showing & {
      position: absolute;
      z-index: 15;
      width: 100%;
      background-color: var(--secondary-color);
      left: 0;
      top: 100%;
      padding-top: 87px;
      padding-bottom: 87px;

      @media (max-height: 850px) {
        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-thumb {
          background: #ccc;
        }

        max-height: 500px;
        overflow-y: scroll;
      }

      @include media-breakpoint-down(lg) {
        padding-top: 35px;
        padding-bottom: 35px;
      }
    }

    body.js-menu-showing & {
      &.primary {
        display: none !important;
      }
    }

    body.scrolled-down &,
    header.header:not(.header--transparent) & {
      &.full {
        display: none;
      }
    }

    body.scrolled-down.js-menu-showing &,
    body.js-menu-showing header.header:not(.header--transparent) & {
      &.full {
        display: flex;
      }
    }

  }

  &__submenu {
    display: none;
    min-width: 450px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: -130px;
    background-color: white;
    padding: 30px 55px;
    z-index: 2;

    li {
      padding: 15px 0;

      a {
        font-size: 20px;
        text-transform: initial;
        // color: black;
      }
    }

    @include media-breakpoint-down(lg) {
      display: none !important;
    }
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;

    body.js-menu-showing & {
      width: 100%;
      padding: 0;
      // justify-content: center;
      margin-bottom: 33px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 15px;
      }
    }

    &:hover {
      .primary-menu__submenu {
        display: block;
      }
    }

    @include media-breakpoint-down(lg) {
      padding: 16px 10px;
      width: 100%;
      // text-align: center;
      display: list-item;
    }

    &:first-child {

      // body.scrolled-down & {

      //   @include media-breakpoint-up(md) {
      //     border-left: 1px solid #C7BFB4;
      //   }
      // }
    }

    a {
      &:not(.button) {
        color: var(--primary-menu-label-color);
        background-color: var(--primary-menu-item-color);
        font-weight: 300;
        font-size: 15px;
        text-transform: uppercase;

        body.scrolled-down header.header.v2 &,
        header.v2.header:not(.header--transparent) & {
          @include media-breakpoint-up(md) {
            padding: 20px 30px;
            border-right: 1px solid #C7BFB4;
            max-width: 200px;
            text-align: center;

            &:hover, &:focus {
              color: var(--primary-menu-hover-label-color);
              background-color: var(--primary-menu-hover-item-color);
              text-decoration: none;
            }
          }
        }

        body.scrolled-down header.header:not(.v2) &,
        header.header:not(.header--transparent):not(.v2) & {
          @include media-breakpoint-up(md) {
            padding-right: 30px;
          }
        }

        @include media-breakpoint-down(lg) {
          font-weight: 500;
          font-size: 16px;
          text-transform: uppercase;
        }

        body.js-menu-showing & {
          color: var(--secondary-label-color);

          &:hover, &:focus {
            color: var(--primary-menu-hover-label-color);
            text-decoration: none;
          }
        }

        body.js-menu-showing & {
          font-size: 24px;
          font-weight: 300;
          width: 100%;
          position: relative;
          padding-right: 20px;
          display: inline-block;
          background-color: transparent;

          &:hover {
            color: white;
          }

          @include media-breakpoint-down(lg) {
            font-size: 19px;
          }

          &::after {
            content: '›';
            position: absolute;
            right: 15px;
            top: -15px;
            bottom: 0;
            margin: auto 0;
            font-size: 40px;
          }
        }
      }

      // font-size: 14px;

      // @include media-breakpoint-down(lg) {
      //   font-size: 16px;
      // }

      // body.scrolled-down &, header.header:not(.header--transparent) & {
      // }

      // &:hover {
      //   color: black;
      // }
    }
  }

  &__cta {
    // margin-left: auto;
    padding-right: 0 !important;

    .button {
      min-width: 180px;

      @include media-breakpoint-down(lg) {
        min-width: none;
        width: 100%;
      }
    }

    @include media-breakpoint-down(lg) {
      width: 100%;
      margin-top: 15px;
    }
  }

  body.js-menu-showing & {
    margin: -15px 0 0 0;
    z-index: 12;

    @include media-breakpoint-up(xl) {
      margin: -15px -8px 0 -8px;
    }

    .primary-menu__toggle {
      margin-left: 15px;
      margin-top: 15px;
    }

    .primary-menu__brand {
      margin-top: 15px;
      display: none;
    }

    .primary-menu__brand--scrolled {
      display: block;
      margin-top: 15px;
    }


    .primary-menu__mobilecta {
      margin-right: 15px;
      margin-top: 15px;
    }
  }

}

body {
  .primary-menu__brand {
    display: none;
  }

  .primary-menu__brand--scrolled {
    display: block;
  }
}

body.home {
  .primary-menu__brand {
    display: block;
  }
  .primary-menu__brand--scrolled {
    display: none;
  }

  &.scrolled-down {
    .primary-menu__brand {
      display: none;
    }

    .primary-menu__brand--scrolled {
      display: block;
    }
  }
}