.short_banner {
  padding: 57px 0 76px 0;
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  color: white;

  &--environment {
    padding: 150px 0;
  }

  &__wrap {
    margin: 0 auto;
  }

  &__text {
    font-weight: 500;
    font-size: 48px;
    margin-bottom: 39px;
    text-transform: capitalize;
    padding: 0 20px;
    line-height: 56px;

    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-weight: 300;
  }
}