.small_info {
  background-color: var(--primary-menu-color);
  padding: 54px 0 50px 0;

  &__wrap {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
  }

  &__subwrap {
    max-width: 700px;
  }

  &__img {
    padding-right: 65px;

    @include media-breakpoint-down(md) {
      padding-right: 0;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__title {
    width: 100%;
    font-weight: 400;
    font-size: 28px;
    font-family: var(--secondary-font-name);
    margin-bottom: 10px;
  }

  &__desc {
    font-size: 16px;
    margin-bottom: 0;
  }
}