.tabs {
  background-color: var(--primary-color);
  margin: 57px 0;

  &--fullwidth {
    margin-left: -50px;
    margin-right: -50px;
    width: calc(100% + 100px);

    @include media-breakpoint-down(md) {
      margin-left: -30px;
      margin-right: -30px;
      width: calc(100% + 60px);
    }
  }

  &--small {
    margin-top: 30px;
    margin-bottom: 30px;

    .tabs__item {
      padding: 20px 15px;
    }
  }

  &__icon {
    margin-bottom: 5px;

    .tabs--large & {
      border-radius: 50%;
      margin-bottom: 24px;
    }
  }

  &__items {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(md) {
      overflow-x: scroll;
      justify-content: unset;
    }
  }

  &__item {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 33px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 285px;
    position: relative;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    .tabs--large & {
      width: 350px;
    }

    .tabs--small & {
      width: 230px;
      padding: 33px 15px;
    }


    // &:hover {
    //   color: #000;
    //   background-color: white;
    // }

    &[aria-expanded='true'], &:hover {
      background-color: white;
      box-shadow: 0 0 10px -4px rgba(0,0,0,0.75);
      clip-path: inset(-5px -15px 0px -15px);
      color: #000;
      text-decoration: none;

      .tabs__subtitle {
        color: var(--secondary-color);
      }

      &::after {
        content: '';
        top: -5px;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: var(--secondary-color);
        position: absolute;
      }
    }
  }

  &__title {
    display: block;
    margin: 1px 0 0px 0;
    font-size: 20px;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }

    .tabs--small & {
      font-size: 17px;

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }
  }

  &__subtitle {
    font-size: 20px;
    display: block;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }

    .tabs--small & {
      font-size: 16px;

      @include media-breakpoint-down(md) {
        font-size: 15px;
      }
    }
  }
}