.text_section_v2 {
  padding: 82px 0 137px;
  background-color: white;

  @include media-breakpoint-down(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__title {
    margin-bottom: 31px;
    font-weight: 500;
    font-size: 48px;
    text-transform: capitalize;
    font-family: var(--base-font-name);

    @include media-breakpoint-down(md) {
      font-size: 35px;
    }
  }

  &__top_title {
    margin-bottom: 18px;
    color: var(--secondary-color);
    font-family: var(--secondary-font-name);
    font-weight: 400;
    font-size: 28px;

    &--blog {
      color: #000;
      font-weight: 500;
      font-family: var(--base-font-name);
    }
  }

  &__subtitle {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
  }

  &__text {
    margin-bottom: 54px;
    font-weight: 400;
    font-size: 16px;

  }

  &__wrapper {
    max-width: 850px;
    margin: 0 auto;
  }

  &--terms-and-conditions {
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      margin: 50px 0;
    }

  }
}