<div id="collapse__approach" class="collapse infotab__body show ">
    <div class="infotab__left w-100">
        <div class="infotab__text">
            <h6 class="infotab__subtitle">
                Reggio Emilia Approach
            </h6>
            <p>
                Reggio philosophy and belief is that all children are born with unique competences, interests and
                knowledge. This is why children should have the control over the direction of their learning, be able to
                have endless ways and opportunities to express themselves, have a relationship with other children, and
                be able to learn through experiences of touching, moving, listening, and observing.
            </p>
            <p>
                The 5 key elements of the Reggio Emilia approach:
            </p>
            <ul>
                <li> Children’s learning is based on their interests.</li>
                <li> Teachers and parents are co-learners in the Reggio Emilia approach to early childhood education.</li>
                <li> The classroom environment is a "third teacher".</li>
                <li> Children’s learning progress is documented.</li>
                <li> Teachers focus on the many ways kids learn, because children "speak 100 languages".</li>
            </ul>
            <h6 class="infotab__subtitle">
                Trilingual Nursery
            </h6>
            <p>
                There are many developmental benefits to learning multiple languages at an early age, such as improved
                executive functioning skills, the ability to think flexibly, demonstrate self-control, focus attention,
                and tune out distractions. Research has found that bilingual children have better working memory than
                children who speak only one language.
            </p>
            <p>
                Children learning a second language or two languages simultaneously will often "code switch" or use both
                languages in the same sentence. It is not evidence of a problem in the language-learning process.
                Instead, this shows that children understand the grammatical rules of both languages. Children typically
                use this strategy to clarify their meaning in a grammatically correct manner.
            </p>
            <p>
                Odyssey Nursery Dubai and Odyssey Nursery Abu Dhabi are currently offering French and Arabic as a second
                language in classrooms with English as a main language, as well as only French language classrooms.
                Since our French classrooms have been very successful and popular, we have decided to offer also Spanish
                language in Odyssey Nursery Jumeirah. UAE is a country where people from all around the world meet and
                knowing more than one language will help children to become a successful member of any community.
            </p>
            <h6 class="infotab__subtitle">
                Washington State Early-Learning and Development Benchmarks
            </h6>
            <p>
                It is without a doubt that the early years are the most extraordinary period of growth and development
                in a child’s life. In the early years children totally depend on adults, and now we know how important
                adults are and what difference can they make in children's’ lives.
            </p>
            <h6 class="infotab__subtitle">
                Structure and Content of the Benchmarks
            </h6>
            <p>
                + Physical Well-Being, Health, and Motor Development<br>
                The domain covers children’s physical health and ability to engage in daily activities.
            </p>
            <p>
                + Social and Emotional Development<br>
                This domain addresses the emotional competence and ability to form positive relationships that give
                meaning to children’s experiences in the home, school, and larger community.
            </p>
            <p>
                + Approaches Toward Learning<br>
                This domain refers to to a child’s disposition, rather than skill for learning.
            </p>
            <p>
                + Cognition and General Knowledge<br>
                The domain includes children’s ability to understand and think about the physical and social worlds. The
                focus is mainly on the logic, mathematical knowledge, knowledge of social conventions and appreciation
                of arts and the world around them.
            </p>
            <p>
                + Language, Literacy and Communication<br>
                This domain covers the understanding and use of language, emerging reading and writing skills and
                ability to communicate effectively.
            </p>

        </div>
    </div>
</div>