<div id="collapse__medical-clinic-nurse" class="collapse infotab__body show ">
    <div class="infotab__left">
        <div class="infotab__text">
            <h6 class="infotab__subtitle">
                Nurse and on-site clinic
            </h6>
            <p>
                The Nurse will visit each room daily and will be available to discuss and review any issues pertaining to sick or unwell children and any accidents/injuries sustained in the last 24 hours. In addition, the nurse plays an integral role in partnership with the practitioners to ensure your child comes to nursery in good health and during the day and at pick up remains healthy and safe.
            </p>
            <p>
                The primary role of the Nursery Nurse and clinic:
            </p>
            <p>
                + To provide emergency or first aid care to sick or injured children by the Nurse.<br>
                + Administer nursing care appropriate to the identified needs of the children.<br>
                + To assist the doctor in conducting medical examinations for all children.<br>
                + Inform parents of any illness outbreaks at the Nursery,<br>
                + Implement health and safety policies throughout the Nursery.<br>
                + Maintain medical information for all children.<br>
                + Maintain and submit required records and reports as required by the Ministry of Health.<br>
            </p>
        </div>
    </div>
    <div class="infotab__right">
        <img src="{{ Image(img_url ~ '/medic-clinic-nurse-right-content.jpg')|resize(423, 330, 'center') }}">
    </div>
</div>