<div id="collapse__parent-communication" class="collapse infotab__body show ">
    <div class="infotab__left">
        <div class="infotab__text">
            <h6 class="infotab__subtitle">
                Daily Updates Sent To Your Phone
            </h6>
            <p>
            Through the Educore app, we update you daily with photos and reports of your child’s growth, and development, all direct to your phone with images & stories.
            <p>
                Our team has a direct relationship with you, providing daily updates so you are always in-the-know.
            </p>
            <p>
                Odyssey parents often tell us how excited they are to check the reports on their phones each day, eager to see their children's growth. We are your trusted partner and we value that responsibility.
            </p>
            <p>
                Watch video: <a href="https://www.youtube.com/watch?v=I1OrNZrrraY" target="_blank">https://www.youtube.com/watch?v=I1OrNZrrraY</a>
            </p>
        </div>
    </div>
        <div class="infotab__right">
            <img src="{{ Image(img_url ~ '/parent-education-right-content.jpg')|resize(423, 330, 'center') }}">
        </div>
</div>