<div id="collapse__practitioners" class="collapse infotab__body show">
    <p>Select an Odyssey Nursery and meet our wonderful team.</p>

    <div class="tabs tabs--small tabs--fullwidth">
        <div class="container">
            <div class="tabs__items justify-content-start">
                <a class="tabs__item" data-toggle="collapse" href="#collapse__practitioners--team-tab1" role="button"
                   aria-expanded="true" aria-controls="collapse__practitioners--team-tab1">
                    <span class="tabs__title">Odyssey</span>
                    <span class="tabs__subtitle">Burj</span>
                </a>
                <a class="tabs__item collapsed" data-toggle="collapse" href="#collapse__practitioners--team-tab2"
                   role="button"
                   aria-expanded="false" aria-controls="collapse__practitioners--team-tab2">
                    <span class="tabs__title">Odyssey</span>
                    <span class="tabs__subtitle">Umm Suqeim 2</span>
                </a>
                <a class="tabs__item collapsed" data-toggle="collapse" href="#collapse__practitioners--team-tab3"
                   role="button"
                   aria-expanded="false" aria-controls="collapse__practitioners--team-tab3">
                    <span class="tabs__title">Odyssey</span>
                    <span class="tabs__subtitle">Living Legends</span>
                </a>

                <a class="tabs__item collapsed" data-toggle="collapse" href="#collapse__practitioners--team-tab4"
                   role="button"
                   aria-expanded="false" aria-controls="collapse__practitioners--team-tab4">
                    <span class="tabs__title">Odyssey</span>
                    <span class="tabs__subtitle">Khalifa City A</span>
                </a>

                <a class="tabs__item collapsed" data-toggle="collapse" href="#collapse__practitioners--team-tab5"
                   role="button"
                   aria-expanded="false" aria-controls="collapse__practitioners--team-tab5">
                    <span class="tabs__title">Odyssey</span>
                    <span class="tabs__subtitle">Mushrif</span>
                </a>
            </div>
        </div>
    </div>

    {% include 'partial/ages-tabs/babies-tabs/practitioners/burj.twig' %}
    {% include 'partial/ages-tabs/babies-tabs/practitioners/umm-suqeim-2.twig' %}
    {% include 'partial/ages-tabs/babies-tabs/practitioners/living-legends.twig' %}
    {% include 'partial/ages-tabs/babies-tabs/practitioners/khalifa-city-a.twig' %}
    {% include 'partial/ages-tabs/babies-tabs/practitioners/mushrif.twig' %}








</div>