{% extends "base.twig" %}

{% block content %}

    <section class="text_section_v2 text_section_v2--terms-and-conditions pb-0">
        <div class="container">
            <div class="text_section_v2__wrapper">
                <h4 class="text_section_v2__title text-center">Terms and conditions</h4>
            </div>
            <p>
                These terms and conditions (“Agreement”) set forth the general terms and conditions of your use of
                the the odysseynursery.com website (“Website” or “Service”) and any of its related products and
                services (collectively, “Services”). This Agreement is legally binding between you (“User”, “you” or
                “your”) and Kids First Group LLC (“Kids First Group LLC”, “we”, “us” or “our”). By accessing and
                using the Website and Services, you acknowledge that you have read, understood, and agree to be
                bound by the terms of this Agreement. If you are entering into this Agreement on behalf of a
                business or other legal entity, you represent that you have the authority to bind such entity to
                this Agreement, in which case the terms “User”, “you” or “your” shall refer to such entity. If you
                do not have such authority, or if you do not agree with the terms of this Agreement, you must not
                accept this Agreement and may not access and use the Website and Services. You acknowledge that this
                Agreement is a contract between you and Kids First Group LLC, even though it is electronic and is
                not physically signed by you, and it governs your use of the Website and Services.
            </p>
            <p>
                Advertisements
                <br>
                <br>
                During your use of the Website and Services, you may enter into correspondence with or participate
                in promotions of advertisers or sponsors showing their goods or services through the Website and
                Services. Any such activity, and any terms, conditions, warranties or representations associated
                with such activity, is solely between you and the applicable third party. We shall have no
                liability, obligation or responsibility for any such correspondence, purchase or promotion between
                you and any such third party.
            </p>
            <p>
                Links to other resources
                <br>
                <br>
                Although the Website and Services may link to other resources (such as websites, mobile
                applications, etc.), we are not, directly or indirectly, implying any approval, association,
                sponsorship, endorsement, or affiliation with any linked resource, unless specifically stated
                herein. We are not responsible for examining or evaluating, and we do not warrant the offerings of,
                any businesses or individuals or the content of their resources. We do not assume any responsibility
                or liability for the actions, products, services, and content of any other third parties. You should
                carefully review the legal statements and other conditions of use of any resource which you access
                through a link on the Website and Services. Your linking to any other off-site resources is at your
                own risk.
            </p>
            <p>
                Limitation of liability
                <br>
                <br>
                To the fullest extent permitted by applicable law, in no event will Kids First Group LLC, its
                affiliates, directors, officers, employees, agents, suppliers or licensors be liable to any person
                for any indirect, incidental, special, punitive, cover or consequential damages (including, without
                limitation, damages for lost profits, revenue, sales, goodwill, use of content, impact on business,
                business interruption, loss of anticipated savings, loss of business opportunity) however caused,
                under any theory of liability, including, without limitation, contract, tort, warranty, breach of
                statutory duty, negligence or otherwise, even if the liable party has been advised as to the
                possibility of such damages or could have foreseen such damages. To the maximum extent permitted by
                applicable law, the aggregate liability of Kids First Group LLC and its affiliates, officers,
                employees, agents, suppliers and licensors relating to the services will be limited to an amount
                greater of one dollar or any amounts actually paid in cash by you to Kids First Group LLC for the
                prior one month period prior to the first event or occurrence giving rise to such liability. The
                limitations and exclusions also apply if this remedy does not fully compensate you for any losses or
                fails of its essential purpose.
            </p>
            <p>
                Indemnification
                <br>
                <br>
                You agree to indemnify and hold Kids First Group LLC and its affiliates, directors, officers,
                employees, agents, suppliers and licensors harmless from and against any liabilities, losses,
                damages or costs, including reasonable attorneys’ fees, incurred in connection with or arising from
                any third party allegations, claims, actions, disputes, or demands asserted against any of them as a
                result of or relating to your Content, your use of the Website and Services or any willful
                misconduct on your part.
            </p>
            <p>
                Severability
                <br>
                <br>
                All rights and restrictions contained in this Agreement may be exercised and shall be applicable and
                binding only to the extent that they do not violate any applicable laws and are intended to be
                limited to the extent necessary so that they will not render this Agreement illegal, invalid or
                unenforceable. If any provision or portion of any provision of this Agreement shall be held to be
                illegal, invalid or unenforceable by a court of competent jurisdiction, it is the intention of the
                parties that the remaining provisions or portions thereof shall constitute their agreement with
                respect to the subject matter hereof, and all such remaining provisions or portions thereof shall
                remain in full force and effect.
            </p>
            <p>
                Dispute resolution
                <br>
                <br>
                The formation, interpretation, and performance of this Agreement and any disputes arising out of it
                shall be governed by the substantive and procedural laws of United Arab Emirates without regard to
                its rules on conflicts or choice of law and, to the extent applicable, the laws of United Arab
                Emirates. The exclusive jurisdiction and venue for actions related to the subject matter hereof
                shall be the courts located in United Arab Emirates, and you hereby submit to the personal
                jurisdiction of such courts. You hereby waive any right to a jury trial in any proceeding arising
                out of or related to this Agreement. The United Nations Convention on Contracts for the
                International Sale of Goods does not apply to this Agreement.
            </p>
            <p>
                Assignment
                <br>
                <br>
                You may not assign, resell, sub-license or otherwise transfer or delegate any of your rights or
                obligations hereunder, in whole or in part, without our prior written consent, which consent shall
                be at our own sole discretion and without obligation; any such assignment or transfer shall be null
                and void. We are free to assign any of its rights or obligations hereunder, in whole or in part, to
                any third party as part of the sale of all or substantially all of its assets or stock or as part of
                a merger.
            </p>
            <p>
                Changes and amendments
                <br>
                <br>
                We reserve the right to modify this Agreement or its terms relating to the Website and Services at
                any time, effective upon posting of an updated version of this Agreement on the Website. When we do,
                we will revise the updated date at the bottom of this page. Continued use of the Website and
                Services after any such changes shall constitute your consent to such changes.
            </p>
            <p>
                Acceptance of these terms
                <br>
                <br>
                You acknowledge that you have read this Agreement and agree to all its terms and conditions. By
                accessing and using the Website and Services you agree to be bound by this Agreement. If you do not
                agree to abide by the terms of this Agreement, you are not authorized to access or use the Website
                and Services.
            </p>
            <p>
                Contacting us
                <br>
                <br>
                If you would like to contact us to understand more about this Agreement or wish to contact us
                concerning any matter relating to it, you may do so via the contact form.
            </p>
            <p>
                This document was last updated on March 16, 2021
            </p>

        </div>
    </section>


    {% include 'partial/fullwidth-form.twig' %}

{% endblock %}
