{% extends "base.twig" %}
{% block content %}
    <section class="thankyou" style="background-image: url('{{ img_url }}/thankyou-1.jpg')">
        <div class="container">
            <div class="thankyou__wrap">
                <h1 class="thankyou__title">Thank you</h1>
                <div class="thankyou__body">
                    Thanks for reaching out. We’ll get back to you within one working day.
                </div>
                <a href="{{ site.link }}" class="button button--secondary thankyou__cta">Learn More</a>
            </div>
        </div>
    </section>
{% endblock %}