<section class="fullwidth_form" id="form" style="background-image: url('{{ img_url }}/odyssey-form-background.jpg')">
    <div class="container">
        <div class="fullwidth_form__content">
            <div class="fullwidth_form__wrap" style="background-color: #F2EDE9">
                <h1 class="fullwidth_form__title text-center">Request Tours &amp; Information</h1>
                <div class="fullwidth_form__text text-center">
                    Interested in Odyssey Nursery for your child? Fill out the form below and we’ll send you information
                    on the Odyssey approach to giving your child the best start in life.
                </div>
                {{ theme.theme_mod('footer_form')|shortcodes }}
            </div>
        </div>
    </div>
</section>
<script>
    document.addEventListener( 'wpcf7mailsent', function( event ) {
        location = '{{ site.link }}/thanks/';
    }, false );
</script>